@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {
  font-family: 'Lato', sans-serif;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input.form-control {
  -webkit-appearance: none;
  border: none;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  width: 200px;
}
input.form-control:focus {
  outline: none !important;
  border: none !important;
}
.timer {
  text-align: center;
  width: 300px;
  height: auto;
}
.interface {
  margin-bottom: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-control {
  margin-left: 10px;
  width: 20px;
  height: auto;
}
.controls {
  width: 40px;
  height: auto;
}
