@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
body {
  font-family: 'Raleway', sans-serif;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} */
.timer {
  text-align: center;
}
.cp-wrapper {
  margin: 0 auto 1rem;
  width: 190px;
  height: 190px;
  background-color: #eee;
  border-radius: 50%;
}
.cp-wrapper .cp-circle .cp-mask,
.cp-wrapper .cp-circle .cp-fill,
.cp-wrapper .cp-circle .cp-shadow {
  width: 190px;
  height: 190px;
  position: absolute;
  border-radius: 50%;
}
.cp-wrapper .cp-circle .cp-shadow {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset;
}
.cp-wrapper .cp-circle .cp-mask,
.cp-wrapper .cp-circle .cp-fill {
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
  border-radius: 50%;
}
.cp-wrapper .cp-circle .cp-mask {
  clip: rect(0px, 190px, 190px, 95px);
}
.cp-wrapper .cp-circle .cp-mask .cp-fill {
  clip: rect(0px, 95px, 190px, 0px);
  background-color: #ca0002;
}
.cp-wrapper .cp-inner {
  width: 170px;
  height: 170px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.cp-wrapper .cp-inner .cp-percentage {
  width: 153px;
  position: absolute;
  top: 74px;
  left: 8.5px;
  line-height: 1;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ca0002;
  font-weight: 800;
  font-size: 22px;
}
.cp-wrapper .cp-text {
  display: none;
  font-size: 14px;
  line-height: 22px;
}
.cp-wrapper[data-progress='100'] .cp-percentage {
  top: 67px;
}
.cp-wrapper[data-progress='100'] .cp-percent-number {
  display: none;
}
.cp-wrapper[data-progress='100'] .cp-text {
  display: block;
}
